.custom-radio {
  display: none;
}
.custom-radio + label {
  font-weight: normal;
  cursor: pointer;
}
.custom-radio + label span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  border: 1px solid #2196F3;
}
.custom-radio + label span::before {
  content: "";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 9px;
  height: 9px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #2196F3;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.custom-radio:checked + label span::before {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.custom-radio:disabled + label {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.custom-radio:disabled + label, .custom-radio:disabled + label span {
  cursor: default;
}

.custom-checkbox {
  display: none;
}
.custom-checkbox + label {
  font-weight: normal;
  cursor: pointer;
}
.custom-checkbox + label span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: relative;
  border: 1px solid var(--yellow);
}
.custom-checkbox + label span::before {
  content: "";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 9px;
  height: 9px;
  background-color:var(--yellow);
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.custom-checkbox:checked + label span::before {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.custom-checkbox:disabled + label {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.custom-checkbox:disabled + label, .custom-checkbox:disabled + label span {
  cursor: default;
}

.chkbx-toggle {
  display: none;
}
.chkbx-toggle + label {
  position: relative;
  cursor: pointer;
  outline: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 40px;
  height: 20px;
  background-color: #e4e4e4;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}
.chkbx-toggle + label::before, .chkbx-toggle + label::after {
  content: "";
  display: block;
  position: absolute;
}
.chkbx-toggle + label::before {
  right: 1px;
  left: 1px;
  top: 1px;
  bottom: 1px;
  background-color: #F1F1F1;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}
.chkbx-toggle + label::after {
  top: -1px;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}
.chkbx-toggle:checked + label {
  background-color: #e68900;
}
.chkbx-toggle:checked + label::before {
  background-color: #FF9800;
}
.chkbx-toggle:checked + label::after {
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
.chkbx-toggle:disabled + label {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
}