


@media (max-width: 991px) {
	body {
		text-align: center;
		overflow-x: hidden;
	}
	
	h1 {
	font-size: 40px!important;
	}
	h2 {
		font-size: 30px!important;
		line-height: 1.2
	}
	P {
		font-size: 18px!important;
	}
	
	/*	 fold1*/
	.hp.fold1{ padding-bottom: 00px;height: auto; }
	.hp.fold1 .child.featured{ display: block; padding: 40px 20px; position: static;  margin: 40px 10px;}
	.hp.fold1 .child.featured .child2{ width: auto;}
	
	
	/*	 fold2*/	
	.fold2{ padding-top: 100px; padding-bottom: 50px;}
	.hp.fold2{}
	.hp.fold2 .card-deck{ padding-top: 00px; display: block;}
	.hp.fold2 .card-deck .card{  display: block; border: 0px; }
	.hp.fold2 .card-deck .card HEADER{ margin: 20px 20px 0px 20px; padding: 20px 0px 20px 0px}
	.hp.fold2 .card-deck .card .card-body{ padding: 00px 20px;}
	.hp.fold2 .card-deck .card-footer{ padding-top: 10px;}
    .hp.fold2 .abt-content-lft img{display:block;margin: 0px auto;}
	
	
	/*	fold4*/
	.carousel-item.active, .carousel-item-next, .carousel-item-prev{ display: block;}
	
	.fold4{}
	.hp.fold4{  padding-top: 100px; padding-bottom: 50px;}
	.hp.fold4 .lhs h2{margin-bottom: 20px}

	.hp.fold4 .rhs .card-body{  padding:20px}
	.hp.fold4 .rhs .card-footer{ text-align: left; padding: 20px;}
	.hp.fold4 .rhs .card-footer p{margin-bottom: 0px; font-weight: 500; display: inline-block}
	.hp.fold4 .rhs .card-footer small{font-style: italic; color: #4ea2f2; display: block;}
	.hp.fold4 .rhs .card-footer .avatar{ display: inline-block;}
	.hp.fold4 .rhs .card-footer .avatar IMG{ border-radius: 50%; margin-top: -20px;}
	.hp.fold4 .view-all{ text-align: right; padding: 20px 60px; color: #81b2df;}
	.hp.fold4 .view-all a{color: #81b2df;}

	
	/*	 fold5*/
	.hp.fold5{  padding-top: 000px; padding-bottom:00px; }
	.hp.fold5 .lhs { display: block; padding-bottom: 40px; padding-top: 100px;  background: #f9f9f9;}
	.hp.fold5 .rhs {  padding-top: 40px; padding-bottom: 40px;}
	.hp.fold5 .lhs P{  padding: 20px; margin: 0px;}
	
	.hp.fold5 .sml-logos{ position:static; margin: 20px auto;}
	.hp.fold5 .sml-logos IMG{ margin-top: 12px;}
	.hp.fold5 .sml-logos:nth-child(1){ top: 30%}
	.hp.fold5 .sml-logos:nth-child(2){ top: 60%}
	
	
    .inner-wrap{background-size: cover !important;}
    .fold1 .lhs .cn1{padding-left:0px;}
    .fold1 .lhs{height: 400px;}
}
/***
Responsive
**/
@media (min-width: 100px) and (max-width: 990px) {
    .slide-item--wrap{padding: 0 15px;}
    .hp.fold2{padding: 80px 0 20px;}
    .hp.fold3 {padding-bottom: 0px;}
    .hp.fold4 .card.featured{-moz-transform: scale(1) translateX(0px) translateY(0px);
-webkit-transform: scale(1) translateX(0px) translateY(0px);
-o-transform: scale(1) translateX(0px) translateY(0px);
-ms-transform: scale(1) translateX(0px) translateY(0px);
transform: scale(1) translateX(0px) translateY(0px);}
    .reviews-img{min-height: 470px;}
    .reviews-img::after{content: none;}
    .hp.fold5 .item figure img{float: none;}
    #review-custom-dots{top: 18px;right: 0px;left: 0px;}
    .menu1{top:40px;}
    .navbar .btn{display: none;}
    .responsive-menu .btn{ display: block; color: #000; border: 1px solid #fff;margin: 0px 4px;display: inline-block;}
    .features-cont-lft figure figcaption,.feature-box2 figure figcaption,.features-cont-rht figure figcaption{right: 0px;}
    .responsive-menu{background: var(--red1);padding: 20px;text-align: center;}
.responsive-menu ul{margin: 0px;padding: 0px; list-style: none;}
.responsive-menu ul li{padding:0px 0 5px;}
    .responsive-menu ul li a{color: #fff;}
    .pg-ab .fold5 .cn1{display: inline-block;}
    .pg-ab .fold5 .cn1 .child{width: 100%;}
    .pg-pricing .fold2 .card{margin:0px;width: 100%;padding: 100px 10px 45px 10px;}
    .pg-pricing .fold2 p{margin-bottom: 60px;}
    .pg-pricing .fold3 .cn1 .child{width: calc(100% * (1/1) );}
    .fold1 .container-fluid{padding: 0 15px;}
}
/* media 990 end*/

@media (max-width:768px) {
body {
	overflow-x: hidden;
}
.mobhide {
	display: none!important
}
.mobshow {
	display: block!important
}
.navbar-brand img {
	width: 200px;
}
}
/* max-width:768px*/


 @media(min-width:1024px) {
.desktop-hidden {
	display: none!important
}
}
/* min-width:1024px*/
